#ip1{
    display: block;
    margin-bottom: 14px;
    font-size: 24px;
    opacity: 0.8;
}
#ip2{
    display: block;
    margin-bottom: 14px;
    font-size: 24px;
    opacity: 0.8;
}
#btn{
    font-size: 24px;
}